@font-face {
    font-family: 'AndaleMonoRegular';
    src: url('/fonts/AndaleMono-webfont.eot');
    src: url('/fonts/AndaleMono-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/AndaleMono-webfont.woff') format('woff'),
         url('/fonts/AndaleMono-webfont.ttf') format('truetype'),
         url('/fonts/AndaleMono-webfont.svg#AndaleMonoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
    background-color:#222;
    font-family: 'AndaleMonoRegular';
    letter-spacing: 0;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#overlay {
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background:url(/img/ui/overlaytile.png) repeat;
}

#main_menu {
    color:#fff;
    font-size:10vw;
    text-shadow: rgb(255, 255, 255) 0px 0px 2px;
    text-align:center;
    margin-top:10vh;
}
#main_menu h1 {
    font-size:10vw;
}

#main_menu h2 {
    font-size:4vw;
    font-weight:400;
    margin:0;
    padding:0;
}

#hudCvs {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}